body {
    font-family: Arial, sans-serif;
    background-image: url('./image/fondopiedramejor.png'); /* Fondo de imagen */
    background-size: cover; /* Para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    position: relative;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#turnoJugador {
    margin-top: 10px;
}

.selection-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icono-jugador {
    width: 70px;
    height: 70px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

#jugador1-eleccion {
    background-color: lightblue;
    
}

#jugador2-eleccion {
    background-color: lightcoral;
}

.choices {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.choice img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.volver {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 10px;
    border-radius: 5px;
}

.volver:hover {
    background-color: #218838;
}

#animacion-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.animacion-img {
    width: 100px;
    height: 100px;
}

@keyframes choque {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}

img {
    max-width: 100px; 
    max-height: 100px;
    display: inline-block;
}
